# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.coverage
.pytest_cache/

# Translation
*.mo
*.pot

# Logging
*.log
logs/

# pyenv
.python-version

# poetry
poetry.lock

# Environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm settings
.idea/

# Spyder settings
.spyderproject
.spyproject

# Visual Studio Code settings
.vscode/

# Ideas, features, tasks, etc.
TODO.md
